* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body {
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}


.pop-up {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 25%;
    height: 25%;
    position: absolute;
    border-radius: 25px;

    background-color: red;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);


    opacity: 0;
    pointer-events: none;
}

table {
    width: 600;
    height: 600px;
    border: solid, 3px, black;
    background-color: aqua;
    border-style: solid;
    border-collapse: collapse;
    overflow: hidden;
}


td {

    border-style: solid;
    border: solid, 3px, black;
    height: 200px;
    width: 200px;
    display: inline-flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;

}

.reset {
    font-size: 30px;
    z-index: 0;
    background-color: aquamarine;
    margin-top: 50px;
    height: auto;
    width: auto;

}

.winner {
    font-size: 30px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    justify-content: space-between;
}